script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
script(src="js/lazyload.min.js")
script(src="js/aos.js")
script.
  AOS.init({
    offset: 200,
    duration: 1200,
    once: false
  })
script(src="js/uikit.min.js")
script(src="js/main.min.js")