doctype html
html(lang="en")
  head

    include includes/_config.pug
    include includes/_head.pug

    meta(property="og:title" content=title)
    title #{title}
  body
    #app

      include includes/_navbar.pug

      header.l-header-inner(data-aos="fade-down")
        .c-blockade.l-header-inner__blockade
          .c-blockade__line
            //- viewport 完成位置 / easing 延遲
            .c-blockade__text(uk-parallax="viewport: 0.9; x: 70vw,0,-110vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; x: -50vw,0,100vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.8; easing: 1.5; x: 100vw,-40vw,-60vw") 台灣最生猛海派的音樂祭 - 大港開唱
          .c-blockade__line
            .c-blockade__text(uk-parallax="viewport: 0.7; x: -100vw,50vw,90vw") 台灣最生猛海派的音樂祭 - 大港開唱

        h2.l-header-inner__title.u-title-large MAP

      main.l-main
        section.l-map
          .container
            .row
              .col-md-12
                .l-map__wrap
                  iframe.l-map__google(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.9061297116027!2d120.27934001548287!3d22.61998028515846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e047620e1c45b%3A0xe6d6d1bd1c764df2!2z6aeB5LqM6Jed6KGT54m55Y2A!5e0!3m2!1szh-TW!2stw!4v1642314466967!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy")

      include includes/_footer.pug    

    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
    include includes/_scripts.pug